
### Eclipse ###

.metadata
#bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

#Java development tooling
**/.project
**/.classpath
**/.settings


### Project specific ###

apache-qpid-broker-j-8.0.6-src.tar.gz

apache-qpid-broker-j-8.0.6-src/apache-qpid-broker-j/target/

apache-qpid-broker-j-8.0.6-src/bdbstore/target/

apache-qpid-broker-j-8.0.6-src/tools/target/

apache-qpid-broker-j-8.0.6-src/tck/target/

apache-qpid-broker-j-8.0.6-src/target/

apache-qpid-broker-j-8.0.6-src/qpid-test-utils/target/

apache-qpid-broker-j-8.0.6-src/qpid-systests-parent/target/

apache-qpid-broker-j-8.0.6-src/qpid-perftests-systests/target/

apache-qpid-broker-j-8.0.6-src/perftests/target/

apache-qpid-broker-j-8.0.6-src/perftests/visualisation-jfc/target/

apache-qpid-broker-j-8.0.6-src/joramtests/target/

*.log

apache-qpid-broker-j-8.0.6-src/systests/end-to-end-conversion-tests/target/

apache-qpid-broker-j-8.0.6-src/systests/protocol-tests-amqp-0-10/target/

apache-qpid-broker-j-8.0.6-src/systests/protocol-tests-amqp-0-8/target/

apache-qpid-broker-j-8.0.6-src/systests/protocol-tests-amqp-1-0/target/

apache-qpid-broker-j-8.0.6-src/systests/qpid-systests-jms_2.0/target/

apache-qpid-broker-j-8.0.6-src/systests/qpid-systests-spawn-admin/target/

apache-qpid-broker-j-8.0.6-src/systests/systests-utils/target/

apache-qpid-broker-j-8.0.6-src/systests/qpid-systests-jms_1.1/target/

apache-qpid-broker-j-8.0.6-src/systests/qpid-systests-jms-core/target/

apache-qpid-broker-j-8.0.6-src/systests/qpid-systests-http-management/target/

apache-qpid-broker-j-8.0.6-src/systests/protocol-tests-core/target/

apache-qpid-broker-j-8.0.6-src/doc/target/

apache-qpid-broker-j-8.0.6-src/doc/java-perftests/target/

apache-qpid-broker-j-8.0.6-src/doc/java-broker/target/

apache-qpid-broker-j-8.0.6-src/doc/developer-guide/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/websocket/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/prometheus-exporter/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/memory-store/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/management-http/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/management-amqp/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/logging-logback/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/jdbc-store/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/jdbc-provider-bone/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/jdbc-logging-logback/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/derby-store/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/amqp-msg-conv-0-8-to-1-0/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/amqp-msg-conv-0-8-to-0-10/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/amqp-msg-conv-0-10-to-1-0/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/amqp-1-0-protocol/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/amqp-1-0-jdbc-store/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/amqp-1-0-bdb-store/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/amqp-0-8-protocol/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/amqp-0-10-protocol/target/

apache-qpid-broker-j-8.0.6-src/broker-plugins/access-control/target/

apache-qpid-broker-j-8.0.6-src/broker-core/target/

apache-qpid-broker-j-8.0.6-src/broker-codegen/target/

apache-qpid-broker-j-8.0.6-src/broker/target/

apache-qpid-broker-j-8.0.6-src/bdbstore/systests/target/

native/apache-qpid-broker-j-8.0.6-bin.tar.gz

native/qpid-broker
native/apache*

apache-qpid-broker-j-8.0.6-src/src/main/resources/META-INF/native-image/.lock

native/images/graalfull/build/lib/qpid

doc/reference/~$GraalVm _Upgrade.pptx
